@import "./common.scss";

html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    // border: 5px solid #000;

    .main {
        flex: 1;
        // border: 5px solid #000;
        .swiper-container {
            width: 100%;
            height: 100%;

            &>.swiper-wrapper {
                padding-top: pr(45);

                .swiper-slide {
                    position: relative;

                    .container {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        .swiper-slide {
                            height: auto;
                            padding-bottom: pr(45);
                        }
                    }
                }
            }

            .swiper-pagination {
                position: fixed;
                left: 0;
                top: 0;
                height: pr(45);
                background-color: #fff;
                display: flex;
                justify-content: space-around;

                .swiper-pagination-bullet {
                    margin: 0;
                    width: 30%;
                    height: pr(45);
                    border-radius: 0;
                    display: block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;

                    &:nth-child(1)::before{
                        content: "关注";
                        display: block;
                        font-size: pr(18);
                        line-height: pr(45);
                    }

                    &:nth-child(2)::before{
                        content: "订阅";
                        display: block;
                        font-size: pr(18);
                    }
                }

                .swiper-pagination-bullet-active {
                    background-color: #fff;
                    border-bottom: 3px solid #a6e22d;
                }
            }
            
        }

    }

    .bottom {
        flex-basis: pr(50);
    }
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    height: pr(50);
    width: 100%;
    background-color: #d3d3d3;

    display: flex;

    justify-content: space-around;
    align-items: center;
    z-index: 100;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
        img {
            height: pr(20);
        }

        span {
            font-size: pr(13);
            color: #336162;
        }

        &:nth-child(3) {
            opacity: 1;
            img {
                height: pr(30);
            }
        }
    }

    a.active {
        opacity: 1;
    }
}